<div class="header-container">
  <div class="title">
    <h2 (click)="togglePanel()">Shopping List</h2>
  </div>
  <div class="panel" *ngIf="showPanel">
    <app-dropdown></app-dropdown>
    <!-- <p class="sub-title">every dish you want at a touch.</p> -->
    <!-- <div class="dropdown">
      <h3>Pick your country</h3>
      <select class="form-control" (change)="changeCountry(event)" [(ngModel)]="tester">
        <option disabled>Select Continent</option>
        <option *ngFor="let recipe of shoppingList" (value)="recipe"> {{ recipe }}</option>
      </select>
    </div> -->
  </div>

  <!-- https://www.itsolutionstuff.com/post/angular-select-dropdown-exampleexample.html -->

</div>
