.header-container {
  min-height: 120px;
  border-radius: 7.5px;
  background-image: linear-gradient(to right, rgb(92, 114, 185), darkblue);
  color: white;
  box-shadow: lightblue;
  overflow: hidden;
  background-color: rgb(172, 96, 96);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.title:hover {
  cursor: pointer;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin: 0;
  padding-top: 25px;
  padding-left: 25px;
}

.sub-title {
  padding-bottom: 10px;
}

body {
  margin: 0;
}

.dropdown {
  padding: 25px;
}
.fa {
  padding: 10px;
  transition: all .25s linear;
}

.rotate {
  transform: rotate(90deg);
}
