<div class="container">

  <h1 style="margin-top: 25px;">
    {{title}}
  </h1>

  <div class="row" style="margin-top: 25px;">
    <div class="inbox">
      <div class="item">
        <input type="checkbox">
        <p>Eggs</p>
      </div>
      <div class="item">
        <input type="checkbox">
        <p>Milk.</p>
      </div>
      <div class="item">
        <input type="checkbox">
        <p>Honey</p>
      </div>
      <div class="item">
        <input type="checkbox">
        <p>Lentilse</p>
      </div>
      <div class="item">
        <input type="checkbox">
        <p>Bananas</p>
      </div>
    </div>
  </div>
</div>
