<div class="container">

  <div class="header-recipe">
    <h1 style="margin-top: 25px;">
      {{title}}
    </h1>
  </div>
  <!-- <iframe width="560" height="315" src="{{ videoUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->

  <div class="row" style="margin-top: 25px;">
    <div class="inbox">
      <div *ngFor="let items of shoppingList$">
        <div class="item">
          <input type="checkbox">
          <p>{{items}}</p>
        </div>
      </div>
    </div>
  </div>
  <button (click)="getShoppingList()"> STANDARD GROCERIES theyoukeepforgetting </button>
  <button (click)="getCurryVeg()"> GROCERIES Chicken basil Pesto Pasta </button>

  <div *ngIf="show">show this please
    <div *ngFor="let item of list"> {{item}}</div>
  </div>
</div>
