<div class="container">

  <!-- <iframe width="560" height="315" src="{{ videoUrl }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
  <div class="btn-layout">
    <button class="btn-food" (click)="getShoppingList()"> STANDARD GROCERIES </button>
    <button class="btn-food" (click)="getCurryVeg()"> GROCERIES Chicken basil Pesto Pasta </button>
  </div>
  <div class="header-recipe">
    <h4>
      {{title}}
    </h4>
  </div>
  <div class="row">
    <div class="inbox">
      <div *ngFor="let items of shoppingList$">
        <div class="item">
          <input type="checkbox">
          <p>{{items}}</p>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="show">show this please
    <div *ngFor="let item of list"> {{item}}</div>
  </div>
</div>
